.kalenderKarte{
    width: 600px;
    height: 169px;
    flex-shrink: 0;
    border-radius: 0px 0px 22px 22px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.tagContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    height: inherit;
}