.title{
    color: #000;
    text-align: left;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 23px;
}

.kreisLila{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 345px;
    height: 345px;
    border-radius: 50%;
    border: 4px solid #503291;
}

.inidikatorKreis{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 339px;
    height: 339px;
    border-radius: 50%;
}

.centerHorizontally{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audioClip{
    margin-top: 60px;
    width: 442px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.audioButton{
    margin-top: 15px;
    border: none;
    background-color: #FFF;
    font-size: 30px;
    color: #503291;
}

.button{
    margin-top: 60px;
    width: 159px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #503291;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    color: white;
    float: left;
    margin-left: 80px;
}

.kalenderBox{
    width: 600px;
    height: 169px;
    flex-shrink: 0;
    border-radius: 0px 0px 22px 22px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}