/*
    Kalender oben
    zurück button
    Titel
    Kreis
    farbiger kreis
    bpm

    audio 
    button
    button
*/

.title{
    color: #000;
    text-align: left;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 23px;
}

.kreisLila{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 345px;
    height: 345px;
    border-radius: 50%;
    border: 4px solid #503291;
}

.inidikatorKreis{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 339px;
    height: 339px;
    border-radius: 50%;
}

.centerHorizontally{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}