.xButton{
    border: none; 
    background-color: #FFF;
    font-size: 36px;
    color: #503291;
	margin-left: 50px;
	width: 170vw;
	height: 0vw;
	margin-top: 0px;
}
.speicherButton{
    margin-top: 20px;
    width: 159px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #503291;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    color: white;
    float: left;
    margin-left: 220px;
}